# Byte-compiled / optimized Python files
*.pyc
__pycache__/

# Logs
*.log

# Runtime directories
celerybeat-schedule/

## Environment variables
#.env

# IDE files
.idea/

# Compiled Python files
*.pyc

# Dependency directories
venv/

# Static files
static/

# Media files (storage contains media)
storage/
