.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    background-color: blue;
    max-width: 1200px;
    margin: 0 auto;
}

.Header a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.Header a.active {
    color: red;
}
